body{
  background-color: rgb(41, 39, 39);
  height: 90vh;
  }
  .card {
    width: 190px;
    height: 254px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    margin: auto;
    top: 190px;
    }
  
  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  
  .card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }


  .one{
    /* background-color: #53ef7d; */
    /* height: 40px;
    width: 310px; */
    position: fixed;
    /* margin: 50px 0px 0px 0px; */
    /* padding: 20px; */
    /* border-radius: 200px; */
    /* border-style: outset;
    border-color: #28c665;
    border-width: 8px; */
    width: 310px;
    height: 40px;
   
     color: red;
    font-weight: bold;
    position: relative;
    animation: mymove 2s infinite;
  }
  @keyframes mymove {
    from {left: 0px;}
    to {left: 940px; color: #53ef7d;}
  }

